* {
  font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3";
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #e4e4e4), color-stop(0.2, #e4e4e4), color-stop(0.2, #dddddd));
  background-size: 7px 10px;
  color: #000;
}

header {
  border-top: solid 1px #bec5cf;
  border-bottom: solid 1px #3f4e63;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #acb9c9), color-stop(0.5, #8395af), color-stop(0.5, #7388a5), color-stop(1, #7488a1));
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #434b57;
  text-align: center;
}
 

#contents {
  padding: 10px;
}


/* https://github.com/edom18/iPhone-button-CSS-template より */
.button { 
  position: relative; 
  margin-bottom: 12px; 
  margin-top: 12px; 
  padding: 5px 10px; 
  display: block; 
  color: #006aff; 
  text-decoration: none; 
  text-align: center; 
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); 
  z-index: 5; 
} 

/* 追加 */
.button:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(3px);
}



.button:hover{
  background: rgba(233, 65, 255, 0.2);
  transform: translateY(2px);
  
}

.button:after { 
  content: ""; 
  position: absolute; 
  left: -3px;
  top: -3px; 
  width: 100%; 
  height: 100%; 
  padding: 2px; 
  border-radius: 10px; 
  background-color:rgba(38, 0, 255, 0.2); 
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset, 0 1px 0 rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.3); 
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset, 0 1px 0 rgba(200, 255, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.3); 
  z-index: -1; 
}

.testChar{
  margin: 10px auto;
  width:50px;
  }

p.deco{
  font-family:serif;
  font-size: 25px;
}

p.hantei{
  font-family:serif;
  font-size: 25px;
  color: black;
}

p.hantei:hover{
  color: #9766d8;
  
}

.btn-flat-vertical-border{
  position: relative;
  right: -100px;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 2em;
  text-decoration: none;
  border-left: solid 10px #9e9e9e;
  border-right: solid 10px #9e9e9e;
  color: #9766d8;
  background: #e4e4e4;
  transition: .4s;
}

.btn-flat-vertical-border:hover{
  background: #e5d1ff;
  border-left: solid 10px #9766d8;
  border-right: solid 10px #9766d8;
}

/* set padding for iOS7 status bar */
.ua-ios-7 .ui-page, .ua-ios-8, .ui-page {
    padding-top: 63px !important;
}

.ua-ios-7 .ui-header, .ua-ios-8 .ui-header {
    top: 20px;
}